#property{
    // background-color: #FFF;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    min-height: 900px;
    .title{
        position: relative;
        width: 100%;
        h3{
            margin: 0;
            font-size: 25px;
            text-transform: capitalize;
        }
        p{
            margin: 0;
            color: #807c7c;
            font-weight: 400;
            font-size: 15px;
            margin-top: 9px;
        }
        .btns{
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            grid-gap: 10px;
            button{
                width: fit-content;
                margin: 0 auto;
                display: block;
                height: 35px;
                font-weight: 700;
                font-size: 12px;
                border-radius: 4px;
                border: 1px solid #d6d5df;
                background: #7065ef12;
                color: #7065ef;
                padding: 0 20px;
                line-height: 2;
                transition: all .2s;
                &:hover{
                    background-color: #7065ef;
                    border-color: #7065ef;
                    color: #FFF;
                    svg{
                        color: #FFF;
                    }
                }
                svg{
                    font-size: 15px;
                    position: relative;
                    top: 3px;
                    transition: color .2s;
                }
            }
        }
        .date{
            margin: 0;
            font-size: 12px;
            margin-top: 7px;
            color: #625b5b;
            font-weight: 600;
            svg{
                font-size: 15px;
                position: relative;
                top: 2px;
            }
        }
        .my{
            width: fit-content;
            color: #FFF;
            background: #7065ef;
            border-radius: 30px;
            font-size: 12px;
            font-weight: 700;
            padding: 7px 15px 6px 15px;
        }
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 100%;
        height: 400px;
        margin-top: 20px;
        position: relative;
        .ant-image{
            height: 100%;
            width: 100%;
        }
        .main-image {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            height: 400px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .top-image {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            border-radius: 8px;
            overflow: hidden;
            height: 200px;
            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
        .bottom-images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            height: 200px;
            .small-image {
                border-radius: 8px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        button{
            position: absolute;
            width: fit-content;
            margin: 0 auto;
            display: block;
            height: 35px;
            font-weight: 700;
            font-size: 12px;
            border-radius: 4px;
            border: 1px solid #7065ef;
            background: rgb(255 255 255);
            color: #7065ef;
            padding: 0 10px;
            line-height: 2;
            transition: all 0.2s;
            left: 5px;
            bottom: 5px;
            &:hover{
                background-color: #7065ef;
                border-color: #7065ef;
                color: #FFF;
                svg{
                    color: #FFF;
                }
            }
            svg{
                font-size: 15px;
                position: relative;
                margin-right: 1px;
                top: 3px;
                transition: all .2s;
            }
        }
    }
    .line{
        width: 100%;
        height: 1px;
        margin: 40px 0 30px 0;
        background: #0d133a30;
    }
    .btm-prt{
        display: flex;
        width: 100%;
        margin-top: 30px;
        grid-gap: 20px;
        .details{
            width: calc(100% - 320px);
            .req{
                border: 1px solid rgb(112 101 239 / 26%);
                padding: 20px;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                .r{
                    p{
                        color: #62657c;
                        font-weight: 500;
                        margin: 0;
                        font-size: 13px;
                        margin-bottom: 6px;
                    }
                    span{
                        color: #222;
                        font-weight: 600;
                        font-size: 14px;
                        text-transform: capitalize;
                        svg{
                            font-size: 17px;
                            position: relative;
                            top: 4px;
                            color: #7065ef;
                            margin-right: 4px;
                        }
                    }
                }
            }
            .about{
                margin-top: 30px;
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    color: #0d133a;
                    margin: 0;
                }
                p{
                    margin: 10px 0 0;
                    font-size: 15px;
                    line-height: 1.4;
                    color: #464d79;
                    font-weight: 500;
                }
            }
            .owner{
                border: 1px solid rgba(112, 101, 239, 0.26);
                padding: 15px;
                border-radius: 5px;
                margin-top: 30px;
                background: #7165ef0f;
                position: relative;
                h3{
                    color: #5f6589;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
                .profile{
                    display: flex;
                    img{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }
                    .det{
                        padding: 5px 0;
                        padding-left: 5px;
                        p{
                            margin: 0;
                            font-weight: 600;
                            font-size: 14px;                     
                        }
                        span{
                            margin: 0;
                            color: #807c7c;
                            font-weight: 500;
                            font-size: 12px;
                            margin-top: 9px;
                        }
                    }
                }
                .btns{
                    position: absolute;
                    right: 16px;
                    bottom: 14px;
                    display: flex;
                    grid-gap: 10px;
                    button,a{
                        width: fit-content;
                        margin: 0 auto;
                        display: flex;
                        height: 35px;
                        font-weight: 700;
                        font-size: 12px;
                        border-radius: 4px;
                        border: 1px solid #d6d5df;
                        background: rgba(112, 101, 239, 0.1294117647);
                        color: #7065ef;
                        padding: 0 20px;
                        line-height: 2;
                        transition: all 0.2s;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        gap: 4px;
                        &:hover{
                            background-color: #7065ef;
                            border-color: #7065ef;
                            color: #FFF;
                            svg{
                                color: #FFF;
                            }
                        }
                        svg{
                            font-size: 15px;
                            position: relative;
                            top: -1px;
                            transition: all 0.2s;
                        }
                    }
                }
                // .ant-modal .ant-modal-title {
                //     font-size: 20px;
                //     line-height: 1.3;
                //     font-weight: 700;
                //     margin-top: 12px;
                //     margin-bottom: 15px;
                // }
            }
            .feature{
                margin-top: 30px;
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0;
                    color: #0d133a;
                }
                .items{
                    display: flex;
                    flex-wrap: wrap;
                    grid-gap: 17px;
                    margin-top: 15px;
                    .f{
                        border-radius: 30px;
                        border: 1px solid #7065ef;
                        display: flex;
                        width: 180px;
                        position: relative;
                        .icon{
                            width: 35px;
                            height: 35px;
                            background-color: #7065ef;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            left: -1px;
                            svg{
                                color: #FFF;
                                font-size: 18px;
                            }
                        }
                        p{
                            margin: 0;
                            font-weight: 600;
                            font-size: 14px;
                            margin-left: 5px;
                            position: relative;
                            top: 12px;
                        }
                        .ok{
                            position: absolute;
                            right: 7px;
                            top: 57%;
                            transform: translateY(-50%);
                            svg{
                                color: #7065ef;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .rooms{
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 25px;
                .r{
                    border: 1px solid rgba(112, 101, 239, 0.168627451);
                    border-radius: 50%;
                    background: #FFF;
                    box-shadow: 0 0 6px 1px rgb(112 101 239 / 11%);
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    .dd{
                        text-align: center;
                        p{
                            width: 100%;
                            color: #7065ef;
                            font-weight: 600;
                            font-size: 15px;
                            text-align: center;
                            margin: 7px 0px 2px 0;
                        }
                        svg{
                            color: rgb(112, 101, 239);
                            font-size: 22px;
                        }
                        span{
                            color: #0d133a;
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
            }
            .nearby{
                width: 100%;
                margin: 20px 0;
                user-select: none;
                h1{
                    font-size: 23px;
                    font-weight: 700;
                    color: #0d133a;
                    margin: 0;
                    margin-bottom: 15px;
                }
                .props{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    .property-item .details{
                        width: auto;
                    }
                }
            }
        }
        .apply{
            width: 320px;
            border: 2px solid rgb(112 101 239 / 21%);
            padding: 20px;
            border-radius: 4px;
            height: fit-content;
            .price{
                h3{
                    margin: 0;
                    color: #0d133a;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .nrml,.many p{
                    display: flex;
                    margin: 0;
                    color: #7065ef;
                    font-weight: 800;
                    font-size: 30px;
                    b{
                        position: relative;
                        font-size: 12px;
                    }
                    span{
                        font-weight: 500;
                        font-size: 17px;
                        color: #7f7f80;
                        position: relative;
                        top: 11px;
                        margin-left: 0;
                        text-transform: lowercase;
                        height: fit-content;
                    }
                }
                .many{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 10px;
                    p{
                        cursor: pointer;
                        font-size: 17px;
                        background: #FFF;
                        width: fit-content;
                        user-select: none;
                        padding: 12px 15px;
                        border-radius: 5px;
                        border: 1px solid rgba(112, 101, 239, 0.2);
                        box-shadow: 0 0 4px 3px rgba(112, 101, 239, 0.0392156863);
                        transition: all 0.2s;
                        &.active{
                            border-color: #7065ef;
                            background-color: #7165ef10;
                        }
                        span{
                            font-weight: 600;
                            font-size: 13px;
                            color: #7f7f80;
                            position: relative;
                            top: 4px;
                            margin-left: 2px;
                            text-transform: capitalize;
                            height: fit-content;
                        }
                    }
                }
            }
            button{
                display: block;
                font-weight: 700;
                font-size: 13px;
                border-radius: 4px;
                border: 1px solid #d6d5df;
                background: rgb(112 101 239);
                color: #FFF;
                padding: 0 22px;
                height: 40px;
                line-height: 2;
                transition: all 0.2s;
                width: 100%;
                margin-top: 20px;
                span .ico{
                    font-size: 15px;
                    position: relative;
                    top: 3px;
                }
            }
            .line{
                margin: 20px 0;
            }
            .tour{
                h3{
                    margin: 0;
                    color: #0d133a;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                .options{
                    display: flex;
                    grid-gap: 5px;
                    button{
                        background: none;
                        margin: 0;
                        color: #7065ef;
                        border-color: #7f79c46b;
                        &.active{
                            border-color: #7065ef;
                            background: #7165ef25;
                            // color: #FFFF;
                        }
                    }
                }
                .ant-picker{
                    width: 100%;
                    margin-top: 12px;
                    height: 37px;
                    border-color: #7f79c46b;
                    background: none;
                    input::placeholder{
                        color: #7f7f80;
                    }
                }
            }
            &.disabled{
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(112, 101, 239, 0.3882352941);
                    z-index: 60;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 140px;
                }
            }
        }
    }
    .ant-spin-spinning{
        margin: 0 auto;
        display: block;
        margin-top: 60px;
    }
}