// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
body{
    background-color: rgb(248 247 254);
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #9b9b9b;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
*{
    font-family: "Nunito Sans", serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

// Ant Design
.ant-select .ant-select-arrow{
    user-select: none;
    // background: #7065ef29;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    color: #7065ef;
    font-size: 9px;
    span{
        position: relative;
        left: 0px;
    }
}
.ant-modal .ant-modal-title {
    font-weight: 700;
    text-align: center;
    margin: 0px 15px;
    margin-bottom: 15px;
}
.ant-btn{
    font-weight: 600;
    line-height: 1.5;
}
.ant-slider .ant-slider-track {
    background-color: #7065ef;
}
.ant-form-item .ant-form-item-explain-error {
    color: #ff4d4f;
    font-weight: 500;
    font-size: 13px;
}