.signup{
    max-width: 860px;
    background-color: #FFF;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 5px;
    border: 2px solid rgba(112, 101, 239, 0.12);
    display: flex;
    overflow: hidden;
    .l-s{
        width: 60%;
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/720/192/non_2x/hand-giving-key-house-business-sale-rent-insurance-free-photo.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0 0 0 / 53%);
        }
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        .txt{
            position: relative;
            z-index: 3;
            color: #FFF;
            height: fit-content;
            h3{
                text-align: center;
                margin: 0;
                font-weight: 700;
                font-size: 37px;
                margin-bottom: 8px;
            }
            p{
                text-align: center;
                margin: 0;
                font-size: 16px;
            }
        }
    }
    .r-s{
        width: 40%;
        padding: 20px 25px;
        *{
            font-family: "Nunito Sans", serif;
        }
        h3 {
            color: #7065ef;
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            margin: 20px 0 30px 0;
        }
        .ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label{
            padding: 0;
            
        }
        .ant-form-item .ant-form-item-label > label{
            font-size: 14px;
            color: #0d133a;
            font-weight: 600;
            margin-bottom: 0;
        }
        .ant-input-affix-wrapper {
            height: 40px;
            border-radius: 4px;
        }
        .ant-input-affix-wrapper > input.ant-input{
            font-size: 15px;
            color: #0d133a;
        }
        .ant-input-affix-wrapper .ant-input-prefix {
            position: relative;
            top: -1px;
        }
        .ant-form-item {
            margin-bottom: 15px;
            &.lst{
                margin-bottom: 5px;
            }
        }
        .ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
            display: none;
        }
        .ant-form{
            margin-top: 20px;
        }
        .ant-input-outlined:hover {
            border-color: #7065ef;
        }
        .ant-input-outlined:focus,.ant-input-outlined:focus-within {
            border-color: #7065ef;
            box-shadow: 0 0 0 2px #7165ef2e;
        }
        .ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover, :where(.css-dev-only-do-not-override-nqoqt9).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
            color: #FFF;
            border-color: #7065ef;
            background: #7065ef;
        }
        .ant-btn.ant-btn-block{
            font-weight: 700;
            font-size: 13px;
            border-radius: 4px;
            border: 1px solid #d6d5df;
            background: rgb(112, 101, 239);
            color: #FFF;
            padding: 0;
            height: 42px;
            line-height: 2;
            transition: all 0.2s;
            width: 100%;
            margin-top: 20px;
            box-shadow: none;
        }
        .ant-checkbox-wrapper {
            font-weight: 500;
            user-select: none;
            font-size: 13px;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #7065ef;
            border-color: #7065ef;
        }
        .ant-checkbox-checked:hover .ant-checkbox-inner {
            background-color: #7065ef;
        }
        .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
            background-color: #7065ef;
            border-color: transparent;
        }
        .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-nqoqt9).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
            border-color: #7065ef;
        }
        .ant-checkbox+span {
            padding-inline-start: 3px;
            padding-inline-end: 0;
            font-weight: 600;
            position: relative;
            top: 1px;
        }
        .lnk{
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            color: #0d133a;
            font-size: 14px;
            a{
                text-decoration: underline;
                color: #7065ef;
                margin-left: 2px;
            }
        }
        .ant-checkbox-wrapper span{
            color: #0d133a;
        }
    }
}