#post-property{
    max-width: 630px;
    margin: 0 auto;
    margin-top: 70px;
    .btns{
        width: fit-content;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        button{
            padding: 15px 20px;
            border-radius: 4px;
            border: 2px solid rgba(112, 101, 239, 0.3490196078);
            font-weight: 600;
            font-size: 14px;
            color: #FFF;
            cursor: pointer;
            background-color: #7065ef;
        }
    }
    .ant-steps .ant-steps-item-process .ant-steps-item-icon {
        background-color: #7065ef;
        border-color: #7065ef;
    }
    .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
        background-color: #7065ef36;
        border-color: #7065ef;
        span{
            color: #7065ef;
        }
    }
    .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
        background-color: rgb(112 101 239 / 35%);
    }
    .ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: #0d133a;
        font-weight: 600;
        font-size: 15px;
    }
    .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
        background-color: #7065ef;
        border-color: #7065ef;
    }
    .anticon svg {
        color: #FFF;
    }
    .ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
        background-color: #7065ef;
    }
    .ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: rgb(112 101 239);
        font-size: 15px;
        font-weight: 600;
    }

    // Steps
    .steps{
        background-color: #FFF;
        border-radius: 5px;
        border: 2px solid rgba(112, 101, 239, 0.12);
        margin: 30px 0;
        .step{
            padding: 20px;
            .ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label{
                padding: 0;
            }
            .ant-form-item .ant-form-item-label > label{
                font-size: 14px;
                color: #0d133a;
                font-weight: 600;
                margin-bottom: 0;
            }
            .ant-input-affix-wrapper {
                height: 40px;
                border-radius: 4px;
            }
            .ant-input-affix-wrapper > input.ant-input{
                font-size: 15px;
                color: #0d133a;
            }
            .ant-input-affix-wrapper .ant-input-prefix {
                position: relative;
                top: -1px;
            }
            .ant-form-item {
                margin-bottom: 15px;
                &.lst{
                    margin-bottom: 5px;
                }
            }
            .ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
                display: none;
            }
            .ant-form{
                margin-top: 20px;
            }
            .ant-input-outlined:hover {
                border-color: #7065ef;
            }
            .ant-input-outlined:focus,.ant-input-outlined:focus-within {
                border-color: #7065ef;
                box-shadow: 0 0 0 2px #7165ef2e;
            }

            .ant-input{
                height: 35px;
                border-radius: 3px;
            }
            .ant-form-item-label{
                margin-bottom: 4px;
            }
            .ant-select-single {
                height: 35px;
            }
            .ant-select-selector{
                border-radius: 3px;
            }
            .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
                border-color: #7065ef;
            }
            .adresse{
                .ant-form-item-control-input-content {
                    display: flex;
                    gap: 7px;
                }
            }
            .ant-checkbox-wrapper {
                font-weight: 500;
                user-select: none;
                font-size: 13px;
            }
            .ant-checkbox-checked .ant-checkbox-inner {
                background-color: #7065ef;
                border-color: #7065ef;
            }
            .ant-checkbox-checked:hover .ant-checkbox-inner {
                background-color: #7065ef;
            }
            .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
                background-color: #7065ef;
                border-color: transparent;
            }
            .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-nqoqt9).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
                border-color: #7065ef;
            }
            .ant-checkbox+span {
                padding-inline-start: 3px;
                padding-inline-end: 0;
                font-weight: 600;
                position: relative;
                top: 2px;
            }
            .numsInfo{
                display: flex;
                gap: 10px;
                margin-top: 10px;
                input{
                    border-radius: 0 3px 3px 0;
                }
                .ant-input-group-wrapper-outlined .ant-input-group-addon:first-child{
                    border-radius: 3px 0 0 3px;
                    color: #7065ef;
                }
                svg{
                    font-size: 18px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}