.requests{
    width: 90%;
    height: 70vh;
    border-radius: 30px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 35px;
    overflow: hidden;
    box-shadow: 0 0 3px 2px rgba(112, 101, 239, 0.06);
    display: flex;
    .l-s{
        // width: 300px;
        // width: 100%;
        overflow: hidden;
        border-radius: 30px 0 0 30px;
        border: 1px solid rgba(112, 101, 239, 0.4196078431);
        .ant-spin{
            margin: 0 auto;
            display: block;
            margin-top: 40px;
        }
        .ant-tabs{
            height: 100%;
        }
        .ant-tabs .ant-tabs-content {
            max-height: 550px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                // background: #7165ef3c; 
            }
            &::-webkit-scrollbar-thumb {
                background: #7165ef; 
                // border-radius:10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #7065ef6b; 
            }
        }
        .pp{
            display: flex;
            padding: 15px;
            user-select: none;
            cursor: pointer;
            border-bottom: 1px solid #EEE;
            transition: all 0.2s;
            &:hover{
                background-color: #7065ef54;
            }
            &.active{
                background-color: #7065ef54;
            }
            img{
                width: 45px;
                border-radius: 30px;
                height: 45px;
            }
            p{
                margin: 0;
                width: 100%;
                padding: 0;
                position: relative;
                padding-left: 8px;
                span{
                    display: block;
                    &:first-of-type{
                        font-size: 15px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                    // &:last-of-type{
                    //     font-size: 13px;
                    //     color: #222;
                    //     font-weight: 600;
                    // }
                    &.add{
                        font-size: 12px;
                        color: #222;
                        font-weight: 600;
                        margin-top: 0;
                        margin-bottom: 2px;
                        svg{
                            position: relative;
                            top: 2px;
                            font-size: 12px;
                            margin-right: 2px;
                        }
                    }
                    &.tg{
                        padding: 4px 8px 2px 8px;
                        color: #FFF;
                        font-weight: 700;
                        font-size: 9px;
                        border-radius: 3px;
                        width: fit-content;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        background: #7065ef;
                        // &.pending{
                        //     background: #673AB7;
                        // }
                        // &.accepted{
                        //     background: #7065ef;
                        // }
                        // &.rejected,&.closed{
                        //     background: #F44336;
                        // }
                    }
                }
            }
        }
        .ant-tabs .ant-tabs-tab-btn .ant-tabs-tab-icon:not(:last-child) {
            margin-inline-end: 5px;
        }
        .ant-tabs .ant-tabs-tab {
            user-select: none;
            width: 50%;
            padding: 12.5px 13px;
            justify-content: center;
        }
        .ant-tabs >.ant-tabs-nav .ant-tabs-nav-list{
            width: 100%;
        }
        .ant-tabs >.ant-tabs-nav{
            background-color: #FFF;
            border-radius: 3px;
            overflow: hidden;
            margin-bottom: 0;
            box-shadow: 0 0 3px 2px rgb(112 101 239 / 6%);
        }
        .ant-tabs .ant-tabs-tab+.ant-tabs-tab {
            margin: 0;
        }
        .ant-tabs .ant-tabs-tab-btn{
            // color: #0d133a;
            font-weight: 600;
        }
        .ant-tabs-tab-icon{
            margin-right: 5px;
            svg{
                font-size: 17px;
                position: relative;
                top: 4px;
            }
        }
    }
    .r-s{
        // width: calc(100% - 300px);
        // width: 100%;
        height: 100%;
        border-top: 1px solid rgba(112, 101, 239, 0.4196078431);
        border-bottom: 1px solid rgba(112, 101, 239, 0.4196078431);
        border-right: 1px solid rgba(112, 101, 239, 0.4196078431);
        border-radius: 0 30px 30px 0;
        position: relative;
        .ant-spin{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .tit{
            padding: 16px 10px;
            margin: 0;
            background: #FFF;
            border: 1px solid rgba(112, 101, 239, 0.4196078431);
            border-radius: 0 30px 0 0;
            border-left: 0;
            font-size: 16px;
            color: #7065ef;
            display: flex;
            gap: 10px;
            position: relative;
            p,a{
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                text-transform: capitalize;
                color: #0d133a;
                position: relative;
                top: 2px;
                svg{
                    font-size: 17px;
                    margin-top: -8px;
                    position: relative;
                    top: 3px;
                    color: #7065ef;
                    margin-right: 2px;
                }
            }
            button{
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }
        .sec{
            height: calc(100% - 51px);
            border-radius: 0 0 30px 0;
            .msg{
                height: calc(100% - 85px);
                padding: 20px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    // background: #7165ef3c; 
                }
                &::-webkit-scrollbar-thumb {
                    background: #7165ef; 
                    // border-radius:10px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #7065ef6b; 
                }
                .blk{
                    width: 100%;
                    overflow: hidden;
                    &:not(:last-of-type){
                        margin-bottom: 15px;
                    }
                    .msgr{
                        width: 50%;
                        display: flex;
                        gap: 10px;
                        // flex-wrap: wrap;
                        // h4{
                        //     width: 100%;
                        //     margin: 0;
                        //     font-size: 15px;
                        //     margin-bottom: 5px;
                        //     color: #0d133a;
                        //     text-transform: capitalize;
                        // }
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                        .df{
                            // margin-left: 10px;
                            h3{
                                margin: 0;
                                font-size: 13px;
                                margin-bottom: 3px;
                                text-transform: capitalize;
                                color: #0d133a;
                                margin-top: 5px;
                            }
                            p{
                                margin: 0;
                                padding: 10px;
                                background: #FFF;
                                line-height: 1.5;
                                border-radius: 5px;
                                // width: 100%;
                                font-weight: 400;
                                font-size: 15px;
                                box-shadow: 0 0 3px 2px rgba(112, 101, 239, 0.06);
                                border: 1px solid #EEE;
                            }
                            span{
                                display: flex;
                                text-align: center;
                                color: #7f7f80;
                                font-size: 11px;
                                font-weight: 600;
                                margin-top: 7px;
                                text-transform: capitalize;
                            }
                        }
                        &.me{
                            float: right;
                            flex-direction: row-reverse;
                            h4{
                                text-align: right;
                            }
                            .df{
                                margin-left: 0;
                                // margin-right: 10px;
                                p{
                                    background: #7065ef;
                                    color: #FFF;
                                    font-weight: 500;
                                }
                                span{
                                    // margin-right: 10px;
                                    margin-left: 0;
                                    float: right;
                                }
                            }
                        }
                    }
                    .tour_req{
                        
                    }
                }
                .hint{
                    margin: 0 auto 20px auto;
                    width: fit-content;
                    padding: 10px 25px;
                    color: #FFF;
                    font-weight: 700;
                    font-size: 13px;
                    border-radius: 4px;
                    text-transform: capitalize;
                    svg{
                        font-size: 16px;
                        margin-top: -8px;
                        position: relative;
                        top: 4px;
                    }
                    &.accepted{
                        background: #7065ef;
                    }
                    &.rejected{
                        background: #F44336;
                    }
                }
            }
            .btmm{
                height: 45px;
                border-top: 1px solid rgba(112, 101, 239, 0.4196078431);
                position: relative;
                .inpt{
                    .ant-input{
                        height: 45px;
                        font-size: 15px;
                        border-left: 0;
                        // border-top: 1px solid rgba(112, 101, 239, 0.4196078431);
                        border-top: 0;
                        border-bottom: 0;
                        border-radius: 0 0 30px 0;
                        border-right: 0;
                        z-index: 5;
                    }
                    .ant-btn{
                        z-index: 30;
                        border-top: 1px solid rgba(112, 101, 239, 0.4196078431);
                        width: 50px;
                        height: 103%;
                        position: absolute;
                        right: 0;
                        display: flex;
                        padding: 0;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0;
                        top: 0;
                        svg{
                            font-size: 20px;
                        }
                    }
                }
                .btns{
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    margin: 0 auto;
                    gap: 8px;
                }
                .worning{
                    text-align: center;
                    color: #7065ef;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-weight: 600;
                    font-size: 15px;
                    svg{
                        margin-right: 5px;
                        font-size: 19px;
                    }
                }
            }
            .notes{
                margin-top: auto;
                background: #FFF;
                padding: 13px;
                border-radius: 3px;
                width: auto;
                border: 1px solid #7065ef4f;
                margin-bottom: 20px;
                p{
                    margin: 0;
                    font-weight: 600;
                    font-size: 15px;
                    width: fit-content;
                    color: #7065ef;
                    svg{
                        font-size: 18px;
                        margin-top: -7px;
                        position: relative;
                        top: 4px;
                    }
                    &:not(:last-of-type){
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}