// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
body{
    background-color: rgb(248 247 254);
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #9b9b9b;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
*{
    font-family: "Nunito Sans", serif;
}

// Ant select
.ant-select .ant-select-arrow{
    user-select: none;
    // background: #7065ef29;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    color: #7065ef;
    font-size: 9px;
    span{
        position: relative;
        left: 0px;
    }
}