#nav{
    padding: 20px 50px;
    background: #fafafe;
    border-bottom: 1px solid #EEE;
    box-shadow: 1px 1px #EEE;
    // overflow: hidden;
    display: flex;
    .l-s{
        // float: left;
        width: 170px;
        .logo{
            display: flex;
            padding: 3px 0;
            // color: #7065ef;
            // font-weight: 700;
            // font-size: 24px;
            // margin: 10px 0;
            img{
                width: 175px;
            }
        }
    }
    .c-s{
        width: calc(100% - 352px);
        display: flex;
        justify-content: center;
        align-items: center;
        .search-bar{
            width: 540px;
            border: 2px solid #7065ef;
            height: 45px;
            border-radius: 30px;
            position: relative;
            overflow: hidden;
            display: flex;
            .slc{
                width: calc(100% - 46px);
                display: flex;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    height: 100%;
                    width: 2px;
                    background: rgb(112 101 239 / 10%);
                    transform: translateX(-50%);
                }
                .sl{
                    width: 100%;
                    position: relative;
                    .subTitle{
                        position: absolute;
                        left: 20px;
                        font-size: 13px;
                        font-weight: 600;
                        top: 6px;
                    }
                    .ant-select{
                        height: 45px !important;
                        .ant-select-selector{
                            border-color: transparent;
                            background: none;
                            box-shadow: none;
                            input::placeholder{
                                color: #7065ef !important;
                            }
                            .ant-select-selection-placeholder,.ant-select-selection-item{
                                position: relative;
                                top: 9px;
                                left: 8px;
                                font-weight: 600;
                            }
                            input{
                                cursor: auto;
                                color: inherit;
                                height: 20px;
                                position: relative;
                                top: 12px;
                                left: 9px;
                            }
                        }
                    }
                }
            }
            button{
                position: absolute;
                right: 2px;
                top: 2px;
                background: #7065ef;
                font-weight: 600;
                font-size: 22px;
                color: #FFF;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                cursor: pointer;
                svg{
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
    .r-s{
        width: 182px;
        display: flex;
        align-items: center;
        .btns{
            display: flex;
            grid-gap: 10px;
            button{
                padding: 15px 19px;
                border-radius: 4px;
                border: 2px solid rgba(112, 101, 239, 0.3490196078);
                font-weight: 600;
                font-size: 13px;
                color: #7065ef;
                cursor: pointer;
            }
            a{
                background-color: #7065ef;
                padding: 0 19px;
                border-radius: 4px;
                border: 2px solid rgba(112, 101, 239, 0.3490196078);
                font-weight: 600;
                font-size: 13px;
                color: #FFF;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1.9;
                text-decoration: none;
            }
        }
    }
}