#profile{
    margin: 0 auto;
    display: flex;
    // gap: 70px;
    padding: 50px 60px;
    flex-wrap: wrap;
    .l-s{
        width: 195px;
        border: 2px solid rgba(112, 101, 239, 0.21);
        padding: 20px 35px;
        border-radius: 10px;
        background: #FFF;
        height: fit-content;
        position: relative;
        box-shadow: 0 0 3px 2px rgba(112, 101, 239, 0.14);
        min-height: 200px;
        .ant-spin-spinning{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        img{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
        }
        h3{
            margin: 0;
            text-align: center;
            margin-top: 10px;
            font-weight: 600;
            font-size: 17px;
            color: #0d133a;
        }
        p{
            margin: 0;
            text-align: center;
            color: #7f7f80;
            font-size: 13px;
            font-weight: 600;
            margin-top: 3px;
            svg{
                position: relative;
                top: 2px;
            }
        }
        .contact{
            margin: 0 auto;
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            p{
                border: 1px solid #7065ef;
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                font-weight: 700;
                font-size: 13px;
                color:#0d133a;
                position: relative;
                display: flex;
                justify-content: start;
                margin: 0;
                user-select: none;
                svg{
                    margin-right: 5px;
                    font-size: 16px;
                    position: relative;
                    top: 0px;
                    margin-top: -1px;
                }
                span{
                    position: relative;
                    top: 2px;
                }
                .copy{
                    position: absolute;
                    top: 55%;
                    transform: translateY(-50%);
                    right: 0;
                    left: auto;
                    cursor: pointer;
                    transition: all .2s;
                    &:hover{
                        color: #7065ef;
                    }
                    // color: #7065ef;
                }
            }
            .ask,.addContact{
                display: block;
                height: 35px;
                font-weight: 700;
                font-size: 13px;
                border-radius: 4px;
                background: rgb(112, 101, 239);
                color: #FFF;
                padding: 0 20px;
                line-height: 2;
                transition: all 0.2s;
                width: 100%;
                border-color: #7065ef;
                svg{
                    font-size: 16px;
                    position: relative;
                    top: 3px;
                    transition: color .2s;
                }
            }
            .addContact{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                svg{
                    top: -1px;
                    margin-right: 5px;
                }
            }
        }
        .notif{
            position: absolute;
            top: 7px;
            right: 7px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            border-color: #7065ef;
            color: #7065ef;
            padding: 0;
            &:hover{
                background-color: #7065ef;
                color: #FFF;
            }
            svg{
                font-size: 19px;
                position: absolute;
            }
        }
    }
    .r-s{
        width: calc(100% - 330px);
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 25px;
        .ant-spin-spinning{
            margin: 0 auto;
            margin-top: 60px;
        }
        .porps{
            display: flex;
            flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            grid-gap: 25px;
            .ant-empty{
                margin: 0 auto;
                margin-top: 40px;
                img{
                    height: 70px;
                }
            }
            .ant-typography {
                color: rgb(141 147 157);
                font-weight: 500;
                font-family: 'Nunito Sans';
                font-size: 14px;
            }
            .ant-empty .ant-empty-footer {
                margin-top: 10px;
            }
            .ant-empty-footer a{
                margin: 0 auto;
                padding: 10px;
                background: #7065ef;
                border-radius: 3px;
                width: 85px;
                margin-top: 10px;
                height: 20px;
                color: #FFF;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
            }
        }
        .tbs{
            width: 100%;
            .ant-tabs .ant-tabs-tab {
                user-select: none;
                padding: 10px 13px;
            }
            .ant-tabs >.ant-tabs-nav{
                background-color: #FFF;
                border-radius: 3px;
                overflow: hidden;
                box-shadow: 0 0 3px 2px rgb(112 101 239 / 6%);
            }
            .ant-tabs .ant-tabs-tab+.ant-tabs-tab {
                margin: 0;
            }
            .ant-tabs .ant-tabs-tab-btn{
                // color: #0d133a;
                font-weight: 600;
            }
            .ant-tabs-tab-icon{
                margin-right: 5px;
                svg{
                    font-size: 17px;
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
}